<div class="container">
    <div class="d-flex align-items-center min-vh-100">
        <div class="newPass-form shadow-sm-none m-auto shadow rounded-2 p-4">
            <h2 class="header-form">Change password</h2>
            <form (ngSubmit)="changePassword()" class="form-group" [formGroup]="changePassForm">
                <div class="box-input">
                    <input formControlName="code" class="form-control"
                        [ngClass]="{'input-error': changePassForm.get('code')?.errors && changePassForm.get('code')?.touched}"
                        type="email" placeholder="Code">
                    <div *ngIf="changePassForm.get('code')?.errors && changePassForm.get('code')?.touched">
                        <p *ngIf="changePassForm.get('code')?.getError('required')" class="text-danger m-0 mt-1">
                            Code is Required</p>
                        <p *ngIf="changePassForm.get('code')?.getError('pattern')" class="text-danger m-0 mt-1">
                            At least 5 digits</p>
                    </div>
                </div>
                <div class="box-input">
                    <div class="position-relative">
                        <input type="{{ showPassword ? 'text' : 'password' }}" formControlName="newPassword"
                            class="form-control"
                            [ngClass]="{'input-error': changePassForm.get('newPassword')?.errors && changePassForm.get('newPassword')?.touched}"
                            type="email" placeholder="NewPassword">
                        <div class="eye-icon">
                            <i *ngIf="!showPassword" (click)="togglePasswordVisibility()"
                                class="fa-regular fa-eye "></i>
                            <i *ngIf="showPassword" (click)="togglePasswordVisibility()"
                                class="fa-regular fa-eye-slash"></i>
                        </div>
                    </div>
                    <div
                        *ngIf="changePassForm.get('newPassword')?.errors && changePassForm.get('newPassword')?.touched">
                        <p *ngIf="changePassForm.get('newPassword')?.getError('required')" class="text-danger m-0 mt-1">
                            Password is Required</p>
                        <p *ngIf="changePassForm.get('newPassword')?.getError('pattern')" class="text-danger m-0 mt-1">
                            Password must start with upperCase [A-Z]</p>
                    </div>
                </div>
                <div class="box-input">
                    <input type="{{ showPassword ? 'text' : 'password' }}" formControlName="cPassword"
                        class="form-control"
                        [ngClass]="{'input-error': changePassForm.get('cPassword')?.errors && changePassForm.get('cPassword')?.touched}"
                        type="email" placeholder="Confirm password">
                    <div *ngIf="changePassForm.get('cPassword')?.errors && changePassForm.get('cPassword')?.touched">
                        <p *ngIf="changePassForm.get('cPassword')?.getError('required')" class="text-danger m-0 mt-1">
                            Confirm password is Required</p>
                        <p *ngIf="changePassForm.get('cPassword')?.getError('pattern')" class="text-danger m-0 mt-1">
                            {{errConfirmPassword ? "Confirm password not match password" : ""}} </p>
                    </div>
                    <p *ngIf="errMessage" class="text-danger m-0 mt-1">{{errMessage}}</p>
                </div>
                <div class="box-btn">
                    <button class="btn btn-dark w-100"><span *ngIf="!isLoading">Confirm</span><span *ngIf="isLoading"><i
                                class="fa-solid fa-spinner fa-spin"></i></span></button>
                </div>
            </form>
        </div>
    </div>
    <div class="error-message" *ngIf="errMessage">
        <p class="text-danger m-0 mt-1">{{errMessage}}</p>
    </div>
</div>
