<div class="container">
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="login-form shadow-sm-none shadow rounded-2 p-4">
            <h2 class="header-form text-center">Login</h2>
            <!-- <div class="social">
                <button class="btn btn-social rounded-2 w-100"><img src="../../assets/google.png" class="me-2"
                        alt="google-icon">
                    <span>Continue with Google</span>
                </button>
            </div> -->
            <form (ngSubmit)="LoginData()" [formGroup]="loginForm" class="form-group d-flex flex-column gap-3">
                <div>
                    <input formControlName="email"
                        [ngClass]="{'input-error': loginForm.get('email')?.errors && loginForm.get('email')?.touched} "
                        class="form-control" type="email" placeholder="Email">
                    <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
                        <p *ngIf="loginForm.get('email')?.getError('required')" class="text-danger m-0 mt-1">
                            Email is Required</p>
                        <p *ngIf="loginForm.get('email')?.getError('email')" class="text-danger m-0 mt-1">
                            Email format invalid</p>
                    </div>
                </div>
                <div>
                    <div class="position-relative">
                        <input formControlName="password"
                            [ngClass]="{'input-error': loginForm.get('password')?.errors && loginForm.get('password')?.touched}"
                            class="form-control" type="{{ showPassword ? 'text' : 'password' }}" placeholder="Password">
                        <div class="eye-icon">
                            <i *ngIf="!showPassword" (click)="togglePasswordVisibility()"
                                class="fa-regular fa-eye "></i>
                            <i *ngIf="showPassword" (click)="togglePasswordVisibility()"
                                class="fa-regular fa-eye-slash"></i>
                        </div>
                    </div>
                    <div
                        *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched || loginForm.get('password')?.dirty">
                        <p *ngIf="loginForm.get('password')?.getError('required')" class="text-danger m-0 mt-1">
                            Password is Required</p>
                    </div>
                    <p class="text-danger m-0 mt-1">{{errMessage}}</p>
                </div>
                <div class="forget-password">
                    <a routerLink="/request-password-reset">Forgot password?</a>
                </div>
                <div>
                    <button class="btn btn-dark w-100"><span *ngIf="!isLoading">Login</span><span *ngIf="isLoading"><i
                                class="fa-solid fa-spinner fa-spin"></i></span></button>
                </div>
            </form>
            <div class="box-account d-flex mt-3">
                <p>Not a member?</p>
                <a routerLink="/signUp" class="ms-1 text-decoration-none">Sign Up now</a>
            </div>
        </div>
    </div>
</div>