<div class="container">
    <div class="d-flex align-items-center min-vh-100">
        <div class="reset-form shadow-sm-none m-auto shadow rounded-2 p-4">
            <h2 class="header-form">Forgot password?</h2>
            <form (ngSubmit)="sendEmail()" class="form-group" [formGroup]="sendEmailForm">
                <div class="box-input">
                    <input formControlName="email" class="form-control" [ngClass]="{'input-error': sendEmailForm.get('email')?.errors && sendEmailForm.get('email')?.touched}" type="email" placeholder="Email">
                    <div *ngIf="sendEmailForm.get('email')?.errors && sendEmailForm.get('email')?.touched">
                        <p *ngIf="sendEmailForm.get('email')?.getError('required')" class="text-danger m-0 mt-1">
                            Email is Required</p>
                        <p *ngIf="sendEmailForm.get('email')?.getError('email')" class="text-danger m-0 mt-1">
                            Email format invalid</p>
                    </div>
                    <p *ngIf="errMessage" class="text-danger m-0 mt-1">{{errMessage}}</p>
                </div>
                <div class="box-btn">
                    <button class="btn btn-dark w-100"><span *ngIf="!isLoading">Reset Password</span><span *ngIf="isLoading"><i
                        class="fa-solid fa-spinner fa-spin"></i></span></button>
                    <a routerLink="/login" class="btn btn-white text-dark bg-white  w-100 mt-2">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
